/* Logan Greene
   11/14/20
   style.css */

/* CSS Reset */

header, body, nav, main, footer, h1, h3, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */

body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class*/

.mobile, .mobile-tablet {
    display: block;
}

.tablet-desktop, .desktop {
    display: none;
}

/*Style rules for header area*/

h1 {
    padding: 2%;
    text-align: center;
    font-family: 'Emblema One', cursive;
}

h3 {
    padding: 2%;
    text-align: center;
    font-family: 'Lora', serif;
}

/* Style rules for main area */

main {
    padding: 2%;
    font-family: 'Lora', serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

#info ul {
    margin-left: 10%;
}

.contact {
    text-align: center;
}

/* Style rules for navigation area */

nav {
    background-color: #2a1f14;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 0.5px;
    border-color: #f6eee4;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
}

/* Style rules for main content */

main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#contact, #form h2 {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

/* Style rules for footer */

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-top: 0%;
}

/* Style rules for form element */

fieldset, input, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 2%;
}

#submit {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2%;
    background-color: #78593a;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}

/* Media query for tablet viewport */

@media only screen and (min-width: 620px) {
    
    /* Tablet Viewport: Show tab-desk class, hide mobile class */

    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: style rules for nav area */

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }

    nav li a {
        padding: 0.5em;
    }

    #form {
        width: 70%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Media query for desktop viewport */

@media only screen and (min-width: 1000px) {

    /*Desktop Viewport: show desktop class, hide mobile-tablet class */

    .mobile-tablet {
        display: none;
    }

    .desktop {
        display: block;
    }

    /* Desktop Viewport: style rules for nav area */

    nav li {
        font-size: 1.5em;
    }

    nav li a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    nav li a:hover {
        color: #2a1f14;
        background-color: #f6eee4;
    }

    /* Desktop Viewport: style rules for main content */

    #info ul {
        margin-left: 5%;
    }

    /* Style rules for table */

    table {
        border: 1px solid #2a1f14;
        border-collapse: collapse;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th, td {
        border: 1px solid #2a1f14;
        padding: 1%;
    }

    th {
        background-color: #2a1f14;
        color: white;
        font-size: 1.15em;
    }

    tr:nth-child(odd) {
        background-color: #deccba;
    }

    /* Desktop Viewport: Style rules for form */

    form {
        width: auto;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }

}

/* Media query for large desktop viewports */

@media only screen and (min-width: 1921px) {

    body {
        background: linear-gradient(#f6eee4, #78593a);
    }

    #wrapper {
        width: 1920px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        background-color: #f6eee4;
    }

}

/* Media query for print */

@media only print {

    body {
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
    }

}